<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="EPSG:32647" /> </module>

	<module name="network">
		<param name="inputNetworkFile" value="../../data/processed/network_utm47.speeds_lanes_cap.xml.gz" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="../../data/processed/plans.xml.gz" />
	</module>

	<module name="facilities">
		<param name="inputFacilitiesFile" value="../../data/processed/facilities.xml.gz"/>
	</module>

	<module name="controller">
		<param name="outputDirectory" value="./output" />
		<param name="lastIteration" value="10" /> <param name="writeEventsInterval" value="1" />
	</module>

	<module name="qsim">
		<param name="startTime" value="00:00:00"/>
		<param name="endTime" value="30:00:00"/>
		<param name="flowCapacityFactor" value="1.0"/>
		<param name="storageCapacityFactor" value="1.0"/>
		<param name="stuckTime" value="3600"/>
	</module>

	<module name="scoring">
		<param name="lateArrival" value="-18" />
		<param name="performing" value="+6" />

		<parameterset type="activityParams">
			<param name="activityType" value="home" />
			<param name="typicalDuration" value="12:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="work" />
			<param name="typicalDuration" value="08:00:00" />
			<param name="openingTime" value="07:00:00" />
			<param name="closingTime" value="18:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="univ" />
			<param name="typicalDuration" value="04:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="school" />
			<param name="typicalDuration" value="06:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="shopping" />
			<param name="typicalDuration" value="01:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="social" />
			<param name="typicalDuration" value="02:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="othdiscr" />
			<param name="typicalDuration" value="01:30:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="othmaint" />
			<param name="typicalDuration" value="01:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="eatout" />
			<param name="typicalDuration" value="01:00:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="escort" />
			<param name="typicalDuration" value="00:15:00" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="atwork" />
			<param name="typicalDuration" value="01:00:00" />
		</parameterset>
	</module>

	<module name="replanning">
		<param name="maxAgentPlanMemorySize" value="5"/>
		<parameterset type="strategysettings">
			<param name="strategyName" value="ChangeExpBeta"/>
			<param name="weight" value="0.9"/>
		</parameterset>
		<parameterset type="strategysettings">
			<param name="strategyName" value="ReRoute"/>
			<param name="weight" value="0.1"/>
		</parameterset>
	</module>

</config>